<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Perfumes</title>
    <link rel="stylesheet" href="styles.css" />
    <script
      src="https://kit.fontawesome.com/66aa7c98b3.js"
      crossorigin="anonymous"
    ></script>
    <style>* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      
      .footer {
        background-color: rgb(74, 73, 73);
        color: #fefefe;
        /* position: fixed; */
        width: 100%;
        bottom: 0;
        left: 0;
      }
      
     
      
      .footer .content {
        display: flex;
        justify-content: space-evenly;
        margin: 1.5rem;
        padding-top: 10px;
      }
      
      .footer .content p {
        margin-bottom: 1.3rem;
      }
      
      .footer .content a {
        text-decoration: none;
        color: #fefefe;
      }
      
      .footer .content a:hover {
        border-bottom: 1px solid #971717;
      }
      
      .footer .content h4 {
        margin-bottom: 1.3rem;
        font-size: 19px;
      }
      
      footer {
        text-align: center;
        margin-bottom: 2rem;
      }
  
</style>
  </head>
  <body>
    <div class="footer">
      
      <div class="content">
        <div class="services">
          <h4>Services</h4>
          <p><a href="#">Cash on delivery</a></p>
          <p><a href="#">Easy Exchange</a></p>
          <p><a href="#">Upi</a></p>
          <p><a href="#">Customer contact</a></p>
        </div>
        <div class="social-media">
          <h4>Social</h4>
          <p>
            <a href="#"
              ><i class="fab fa-linkedin"></i> Linkedin</a
            >
          </p>
          <p>
            <a href="#"
              ><i class="fab fa-twitter"></i> Twitter</a
            >
          </p>
          <p>
            <a href="https://github.com/farazc60"
              ><i class="fab fa-github"></i> Github</a
            >
          </p>
          <p>
            <a href="https://www.facebook.com/codewithfaraz"
              ><i class="fab fa-facebook"></i> Facebook</a
            >
          </p>
          <p>
            <a href="https://www.instagram.com/codewithfaraz"
              ><i class="fab fa-instagram"></i> Instagram</a
            >
          </p>
        </div>
        <div class="links">
          <h4>Quick links</h4>
          <p><a href="/">Home</a></p>
          <p><a href="/about">About</a></p>
          <p><a href="/service">Blogs</a></p>
          <p><a href="/contact">Contact</a></p>
        </div>
        <div class="details">
          <h4 class="address">Address</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur <br />
            adipisicing elit. Cupiditate, qui!
          </p>
          <h4 class="mobile">Mobile</h4>
          <p><a href="#">+91-12225*****</a></p>
          <h4 class="mail">Email</h4>
          <p><a href="#">mail@gmail.com</a></p>
        </div>
      </div>
      <footer>
        <hr />
        © 2023 perfumes.
      </footer>
    </div>
  </body>
</html>