<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="stylesheets/nav2.css">
</head>
<style>.nav{
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(102, 250, 250); */
    padding: 10px 0;
   
    font-size: 22px;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    gap: 15px;
}
.nav >a{
    text-decoration: none;
    color: rgb(119, 118, 118);
}</style>
<body>
    <div class="nav">
<a href=""><i class="ri-search-line"></i></a>

        <a href="/contact"><i class="ri-phone-line"></i></a>
        <a href="/service"><i class="ri-settings-3-line"></i></a>
        <a href="/about"><i class="ri-coupon-fill"></i></a>
    </div>
</body>
</html>