<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css" rel="stylesheet">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"> -->
<!-- <link rel="stylesheet" href="stylesheets/nav.css"> -->
    <!-- <link rel="stylesheet" href="stylesheets/nav2.css"> -->
</head>
<style>
    
    .nav{
       
        width: 100%;
    display: flex;
  
    align-items: center;
    justify-content: center;
    background-color: #000201;
  padding: 20px 30px;
   font-size: 20px;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    gap: 20px;
}
.nav >h3>a{
    text-decoration: none;
    color: #24ADBC;

}
</style>
<body>
    
    <div class="nav">
<!-- <h3><a href=""><i class="ri-search-line"></i></a></h3> -->
<h3> <a href="/dashboard">Dashboard</a></h3>
<h3><a href="/registration">Registration</a></h3> 

       <h3> <a href="/welcome">All Products</a></h3>
       <h3> <a href="/welcome">Users</a></h3>
       <h3> <a href="/welcome">Pending orders</a></h3>
      <!-- <h3> <a href=""><i class="ri-user-line">Logout</i></a></h3> -->
      <h3> <a href="">Logout</a></h3>
    </div>


   
</body>
</html>