<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfumes</title>
</head>
<style>
    
    .container1{
        display: flex;
        justify-content: space-between;
        gap: 15px;
        overflow: hidden;
        }
        .container2{
            padding-top: 15px;
        }
</style>
<body>
    <%- include("partials/nav.ejs") %>
  <%- include("partials/nav2.ejs") %>
  <div class="container1">
    <a href="/perfume"><img src="https://in.ajmalperfume.com/cdn/shop/files/MII_WEBSITE_EXCLUSIVE_MII_685_X_360_BANNER.jpg?v=1689253749" alt="jbfu"></a>
    <a href="/perfume"><img src="https://in.ajmalperfume.com/cdn/shop/files/OFFER_BANNERS_EXCLUSIVE_gift_GIFT_BOX_685_X_360_9496528c-c7ab-4d79-b096-9f30cbc15301.png?v=1644582748" alt=""></a>
</div>
    
<div class="container2">
    <a href="/perfume"><img src="https://in.ajmalperfume.com/cdn/shop/files/Iinfluncer_fAV_1220_X_335.jpg?v=1638786058" alt=""></a> 
</div>

    <%- include("partials/footer.ejs")%>
</body>

</html>